language: go

go:
  - 1.8.3

before_install:
  - go get github.com/mattn/goveralls

script:
  - $HOME/gopath/bin/goveralls -service=travis-ci
  - gometalinter --config .gometalinter.json  --deadline=5m ./...
